<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
    crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
    crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="{{ '/assets/css/styles.css' | relative_url }}"
/>

<!-- Include for Sage Math -->
<script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
<script>
  // Make the div with id 'mycell' a Sage cell
  sagecell.makeSagecell({inputLocation:  '#mycell',
                         template:       sagecell.templates.minimal,
                         evalButtonText: 'Activate'});
  // Make *any* div with class 'compute' a Sage cell
  sagecell.makeSagecell({inputLocation: 'div.compute',
                         evalButtonText: 'Evaluate'});
  </script>
